[Unit]
Description=StokSay Multi-Reference API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/stok-sayim/server
ExecStart=/home/ubuntu/stok-sayim/venv/bin/python /home/ubuntu/stok-sayim/server/main.py
Environment="PATH=/home/ubuntu/stok-sayim/venv/bin:/usr/bin:/bin"
Restart=always

[Install]
WantedBy=multi-user.target